:root{

    --azul:#4a52eb;
    --celeste:#e8e9fc;
    --amarillo:#d1f577;
    --negro:#19191d;
}

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

body{
    background: #dadcf7;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    padding: 2rem 9%  ;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: var(--negro);
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background:var(--amarillo);
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

/* header .logoimg{
    background-image: url(../images/NicaGrowLogo.png);
    background-size: cover;
    background-position: left;
} */

header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color:#666;
}

header .navbar a:hover{
    color:var(--amarillo)
}

header .icons a{
    font-size: 2.5rem;
    color:#333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color:var(--amarillo)
}

header #toggler{
    display: none;
}

header .fa-bars{
    font-size: 3rem;
    color:#333;
    width: 4rem;
    height: 4rem;
    display: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url("../images/FONDO_HOMEALTERNATIVO.jpeg");
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: var(--celeste);
}

.home .content span{
    font-size: 3.5rem;
    color: var(--amarillo);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color: var(--celeste);
    padding: 1rem 0;
    line-height: 1.5;
}

.about {
    padding: 60px 9%;
}

.titulo-about {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.about-container {
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.about-left {
    flex: 2;
}

.about-left p {
    font-size: 1.5rem;
    color: #333;
    line-height: 1.7;
    margin-bottom: 15px;
}

.about-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
}

.about-item i {
    font-size: 2.2rem;
    color: var(--azul);
    margin-top: 5px;
}

.about-item h4 {
    font-size: 1.6rem;
    margin-bottom: 5px;
    color: var(--negro);
}

.about-item p {
    font-size: 1.3rem;
    color: #555;
}

.services {
  padding: 40px 20px;
  text-align: center;
}

.contenedor-servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.serv{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    position: relative;
    font-family: "Archivo Black", sans-serif;
}

.serv span{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.card {
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.15);
}

.card i {
  font-size: 30px;
  margin-bottom: 10px;
  color:var(--azul) 
}

.card h5 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.card p {
  font-size: 1.2rem;
  color: #555;
}


.contact {
    padding: 20px 9%;
    background: #fff;
}

.titulo-contacto {
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: "Manrope", sans-serif;
}

.contact-container {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.contact-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1.4rem;
}

.contact-form textarea {
    min-height: 120px;
    resize: none;
}

.contact-form button {
    background: var(--azul);
    color: #fff;
    padding: 12px;
    border-radius: 30px;
    font-size: 1.5rem;
    cursor: pointer;
}

.contact-form button:hover {
    background: var(--negro);
}

/* INFO */
.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-item i {
    font-size: 2rem;
    color: var(--azul);
}

.info-item p {
    font-size: 1.4rem;
    color: #333;
}

.footer{
    padding: 20px;
    font-size: 15px;
}


/* adaptabilidad responsiva */
@media(max-width:991px){
    html{
    font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}

@media(max-width:768px){
    
    header .fa-bars{
        display: block;
    }
    
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header  .navbar a{
        margin: 1.5rem;
        padding: 1,5rem;
        background: #fff;
        border: 1rem solic rgba(0,0,0,.1);
        display: block;
    }

    header .fa-bars:hover{
        color:var(--amarillo)
    }

    .home .content h3{
        font-size: 5rem;
    }

        .home .content span{
        font-size: 2.5rem;
    }
}

@media(max-width:450px){
    html{
        font-size: 50%;
    }
}

@media(max-width: 991px){
    .about-container {
        flex-direction: column;
    }

    .titulo-about {
        font-size: 3rem;
    }
}

@media(max-width:991px){
    .contact-container {
        flex-direction: column;
    }
}